#poker-chip-list {
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  column-gap: 10px;
  row-gap: 10px;
  list-style: none;
  padding: 0;
}

#placed-chips {
  list-style: none;
  padding: 0;
  position: relative;
}
